@import 'variables';

$cor-cinza-claro: #D4D4D4;

$cor-borda-formulario: #DEE2E6;

$cor-texto-principal: #363434;
$cor-texto-principal-disabled: rgba(0, 0, 15, 0.5);

$cor-texto-secundario: #262626;
$cor-texto-secundario-disabled: rgba(0, 0, 47, 0.2);

$verde-escuro: lighten($green, 10%);

$blur: rgba(81, 203, 238, 1);

$input-invalid: red;
