.alerts {
	.alert {
		text-overflow: ellipsis;
		pre{
			background: none;
			border: none;
			font: inherit;
			color: inherit;
			padding: 0;
			margin: 0;
		}
		.popover pre {
			font-size: 10px;
		}
	}
	.toast {
		position: fixed;
		width: 100%;
		&.left {
			left: 5px;
		}
		&.right {
			right: 5px;
		}
		&.top {
			top: 55px;
		}
		&.bottom {
			bottom: 55px;
		}
	}
}
