@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';

@import 'colors';
@import 'alerts';
@import 'tables';

// @import "~ngx-toastr/toastr.css";

html, body {
	font-size: 14px;
	height: 100%;
	background-color: $body-bg;
	font-weight: 400;
	color: $cor-texto-principal;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
	color: $primary;
}

a {
	color: $primary;
}

.page-header {
	margin-top: $header-margin;
}

.pointer {
	cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

@media screen and (min-width: 480px) {
	.alerts .toast {
		width: 50%;
	}
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
	@if $side == 'all' {
		.no-padding {
			padding: 0 !important;
		}
	} @else {
		.no-padding-#{$side} {
			padding-#{$side}: 0 !important;
		}
	}
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.thread-dump-modal-lock {
	max-width: 450px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dont-break-out {

	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;

}