.padding-padrao#listagem-ponto
	ng-container(*ngFor='let ponto of pontosTuristicos; index as i;')
		app-item-ponto.m-2([item]='ponto', [modoExibicao]='modoExibicao')
	h3(*ngIf='!haPontosTuristicos()') Não foram encontrados pontos turísticos