#rodape
	h6 VipClass &copy; {{ getAno() }} | v1.0. Todos os direitos reservados.
	span Desenvolvido com muito
		i.fa.fa-fw.fa-coffee
		span e
		i.fa.fa-fw.fa-heart
		span  por
		a(href="https://github.com/diego-sousa-st", target='_blank')  Diego Sousa,
		a(href="https://github.com/Nechelley", target='_blank')  Nechelley Alves.
		//- TODO adicionar outros participantesa
